---
layout: default
---

<main>

    <div id="postlist">

        {% for post in paginator.posts %}
            <section>
                <a name="section" href="{{ post.url | prepend:site.baseurl }}">
                    <h1>{{ post.title }}</h1>
                    {% if post.extend_excerpt %}
                        <p>{{ post.excerpt | truncatewords:20 }}</p>
                    {% else %}
                        <p>{{ post.excerpt | truncate:85 }}</p>
                    {% endif %}
                </a>
            </section>
        {% endfor %}

        {% if paginator.total_pages > 1 %}
            <nav>
                {% if paginator.previous_page %}
                    {% if paginator.previous_page == 1 %}
                        <a id="previous" href="/">{% octicon chevron-left height:32 %}</a>
                    {% else %}
                        <a id="previous" href="/page{{ paginator.previous_page }}">{% octicon chevron-left height:32 %}</a>
                    {% endif %}
                {% endif %}

                {% if paginator.next_page %}
                    <a id="next" href="/page{{ paginator.next_page }}">{% octicon chevron-right height:32 %}</a>
                {% endif %}
            </nav>
        {% endif %}

    </div>

</main>