<head>

    <meta charset="utf-8">
    <title>{{ site.name }}{{ site.separator }}{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.SEO_title }} {{ site.description }}">
    <meta name="theme-color" content="#353535">
    <meta name="application-name" content="{{ site.name }}{{ site.separator }}{{ site.title }}">
    <meta name="apple-mobile-web-app-title" content="{{ site.name }}{{ site.separator }}{{ site.title }}">
    <link href="/favicon.ico" rel="shortcut icon">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/manifest.json" rel="manifest" >

</head>