/* ==========================================================================
   Font Face
   ========================================================================== */

$full-width: "HYQiHei", "PingFang SC", "Microsoft YaHei UI", "Hiragino Sans GB";
// $full-width: "Microsoft YaHei UI";
// $full-width: "Hiragino Sans GB";
// $full-width: "PingFang SC";
// $full-width: "HYQiHei";

@font-face{
    font-family: 'Fira Code';
    src: url('/assets/fonts/FiraCode-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}