---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

body{
    margin: 60px auto;
    width: 56%;
    background: url("../images/bg1.jpeg");
    background-size: auto;
    background-color: black;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

nav ul, footer ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    padding: 1px;
    li {
        display: inline;
        margin-right: 20px;
    }
}

a {
    text-decoration: none;
    color: cyan;
    &:hover { text-decoration: underline; }
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    color: whitesmoke;
}

iframe {
    position: absolute;
    right: 0px;
    top: 0px;
}

p {
    font-family:'Open Sans', 'HYQiHei-55S', 'Noto Sans SC',  sans-serif;
    font-size: 2rem;
    line-height: 1.2rem;
    color: whitesmoke;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1.1rem;
    color: whitesmoke;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5rem;
    li {
        list-style: none;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax-highlighting";