---
# The main Sass file
---

@charset "utf-8";

html {
    font-size: 100%;
}

body {
    margin: auto;
    overflow: auto;
    min-width: 800px;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url("../images/bg1.jpeg");
    background-size: auto;
    background-color: black;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

nav ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    padding: 1px;
    li {
        display: inline-block;
        margin-right: 1.25rem;
    }
}

a {
    text-decoration: none;
    color: paleturquoise;
    &:hover { color: cyan; }
}

#particles-js {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
}

header {
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 35rem;
    width: 60rem;
    height: 6.25rem;
    font-size: 4rem;
    text-align: center;
    background-color: black;
    opacity: 0.6;
    h1 {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        line-height: 8rem;
        color: white;
    };
}

p {
    font-family:'Open Sans', sans-serif;
    font-size: 2rem;
    line-height: 1.2rem;
    color: whitesmoke;
}

iframe {
    position: fixed;
    right: 0.5rem; bottom: 1rem;
    opacity: 0.6;
}

footer {
    position: absolute;
    left: 0; right: 0; bottom: -8rem;
    border-top: 1px solid #d5d5d5;
    text-align: center;
    color: whitesmoke;
    opacity: 0.9;
    ul {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5rem;
        margin-left: 28%;
        margin-right: 28%;
        padding: 1px;
        li {
            display: inline-block;
            margin-right: 1.25rem;
        }
    }
}

ul.posts {
    margin: 1.25rem auto 2.5rem;
    li {
        list-style: none;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "font-awesome";