<!DOCTYPE html>
<html lang="en-us">

<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/blog">Blog</a></li>
		</ul>
	</nav>
	<div class="container">

		{{ content }}

	</div>
	<!-- /.container -->
	<footer>
		<ul>
			<li><a href="https://m8524769@163.com">Email</a></li>
			<li><a href="https://github.com/m8524769">Github</a></li>
		</ul>
	</footer>
</body>

</html>