---
layout: default
---

<article id="article">

    <h1>{{ page.title }}</h1>
    <time>{{ page.date | date: "%A, %-d %B %Y" }}</time>

    {{ content }}

</article>

<!-- <div id="hypercomments_widget"></div> -->

<script>
const loadComment = () => {
  _hcwp = window._hcwp || []
  _hcwp.push({ widget: "Stream", widget_id: 104126 })
  if ("HC_LOAD_INIT" in window)
    return;
  HC_LOAD_INIT = true
  let hcc = document.createElement("script")
  hcc.src = "https://w.hypercomments.com/widget/hc/104126/en/widget.js"
  hcc.async = true
  let s = document.getElementsByTagName("script")[0]
  s.parentNode.insertBefore(hcc, s.nextSibling)
}
</script>